@{
    Layout = "/Views/Shared/_LayoutInitial.cshtml";
    ViewData["Title"] = "Confirmação Email";
}

<hr />
<div>
    <label>
        O seu email foi confirmado com sucesso.
    </label>
    <hr />
    <a asp-area="" asp-controller="Account" asp-action="Login" class="col-md-4 btn btn-primary">Voltar para login</a>
</div>
