@{
    Layout = "/Views/Shared/_LayoutInitial.cshtml";
    ViewData["Title"] = "Recuperar Password Confirmação";
}

<hr />
<div>
    <label>
        Por favor verifique o seu email para poder redefinir a sua password.
    </label>
    <hr />
    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary">Voltar para login</a>
</div>
