@{
    Layout = "/Views/Shared/_LayoutInitial.cshtml";
    ViewData["Title"] = "Recuperar Password Confirmação";
}

<hr />
<div>
    <label>
        Por favor verifique o seu email para poder alterar a sua password.
    </label>
    <hr />
    <a asp-area="" asp-controller="Account" asp-action="Login" class="col-md-4 btn btn-primary">Voltar para a autenticação</a>
</div>
