@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Autenticação";
}
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group has-feedback has-feedback-left">
                    <label asp-for="Email"></label>
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" placeholder="example@example.com" />
                        <i class="glyphicon glyphicon-user form-control-feedback"></i>
                        <div class="input-group-btn">
                            <button class="btn bottom-right pop" type="button">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label asp-for="Password"></label>
                    <div class="input-group">
                        <input asp-for="Password" class="form-control" />
                        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                        <div class="input-group-btn">
                            <button class="btn bottom-right pop" type="button">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="button btn btn-default">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        Para se registar clique <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">aqui</a>
                    </p>
                    <p>
                        Recuperar password <a asp-action="ForgotPassword">aqui</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}