@{
    Layout = "/Views/Shared/_LayoutInitial.cshtml";
    ViewData["Title"] = "Sessão Terminada";
}

<hr />
<div>
    <label>
        Sessão terminada com sucessso.
    </label>
    <hr />
    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary">Voltar para login</a>
</div>
