
@{
    ViewData["Title"] = "Início";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<div class="header">
    <img src="~/images/home/1.svg">
    <img src="~/images/home/2.svg">
    <img src="~/images/home/3.svg">
    <img src="~/images/home/4.svg">
    <img src="~/images/home/5.svg">
    <img src="~/images/home/6.svg">
    <img src="~/images/home/7.svg">
    <img src="~/images/home/8.svg">
    <img src="~/images/home/9.svg">
</div>
<div class="button-wrapper">
    <a href="/Editais" class="button">Editais</a>
    <a href="/Application" class="button">Candidaturas</a>

    <!--Para Testar o que ando a fazer-->
    <a asp-area="" asp-controller="ProgramasMobilidade" asp-action="Index">Programas Mobilidade</a>
    <a asp-area="" asp-controller="Manage" asp-action="EditProfile">Editar Perfil</a>
    <a asp-area="" asp-controller="Editais" asp-action="Index">Editais</a>
    <a asp-area="" asp-controller="Manage" asp-action="Profile">Area Pessoal</a>
    <a asp-area="" asp-controller="VisualizarCandidatura" asp-action="Index">Candidatura</a>
</div>