@model VisualizarCandidaturaViewModel;

<!--TEM QUE SER A INFORMAÇÃO DO ALUNO QUE FOI SELECIONADO PELO FUNCIONÁRIO DA CIMOB-->
<div class="destino-form">
    <div class="row form-group has-feedback has-feedback-left">
        <div class="col-md-3 col-md-offset-1">
            <label asp-for="NomeEscola"></label>
            <label>School</label>
        </div>
    </div>
    <div class="row form-group has-feedback has-feedback-left">
        <div class="col-md-3 col-md-offset-1">
            <label asp-for="Pais"></label>
            <label>Inglaterra</label>
        </div>
    </div>
    <div class="row form-group has-feedback has-feedback-left">
        <div class="col-md-3 col-md-offset-1">
            <label asp-for="Curso"></label>
            <label>Graduation</label>
        </div>
    </div>
    <div class="row form-group has-feedback has-feedback-left">
        <div class="col-md-3 col-md-offset-1">
            <label asp-for="VagasDisponiveis"></label>
            <label>0</label>
        </div>
        <button style="background-color:dodgerblue; color:white;">+ Requisitar Vagas</button>
    </div>

</div>