<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  

    <connectionStrings>

      <add name="ConString" connectionString="Server=tcp:cimobsql.database.windows.net,1433;Initial Catalog=cimob;Persist Security Info=False;User ID=administratorcimob;Password=esw12345.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>

    </connectionStrings>

</configuration>