@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<link href="~/css/no-file.css" rel="stylesheet" />

<div class="err-wrapper">
    <h2>Oops :(<a href="/Manage/Profile">Voltar à área pessoal</a></h2>
    <p>Parece que o ficheiro que procura não existe. Isto pode ser devido a várias razões, como por exemplo foi removido.</p>
</div>