.candidatura-listing {
    width: 80%;
    margin: auto;
}

    .candidatura-listing .table {
        width: 100%;
    }

    .candidatura-listing .table tr:not(:first-child){
        cursor: pointer;
    }