.cimob .menu-button
{
    padding: 30px 0;
    width: 300px !important;
    font-size: 20px;
}

.cimob .menu-button:hover {
    box-shadow: 0 0 10px #000;
}

    .cimob .form-control {
        padding-left: 15px;
    }

    .cimob #destino .table {
        width: 100%;
        margin-top: 0;
    }

    .cimob .form .form-group {
        margin-bottom: 5px;
    }

    .cimob .button-submeter {
        float: none;
    }