.editais-listing {
    width: 50%;
    margin: auto;
}

    .editais-listing .table {
        width: 100%;
    }

        .editais-listing .table th:last-child,
        .editais-listing .table td:last-child {
            width: 48px;
        }

        .editais-listing .table td a {
            display: block;
            text-align: center;
            color: #000;
            text-decoration: none;
        }

        .editais-listing .table td a:hover {
            text-decoration: none;
            color: #000;
        }