body {
    padding-bottom: 10px;
    background-color: #f1eee7;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.top-bar {
    background-color:white;
}

.top-bar-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logotipo {
    max-height: 120px;
}
.register-form, .forgot-password-form, .reset-password-form {
    padding-top: 0px;
}

.button {
    background-color: #6aa84f;
    color: white;
    border-color: #5f9747;
    width:100%
}


.button:hover {
    background-color: #54863f;
    color: white;
    border-color: #5f9747;
    width: 100%
}

.has-feedback-left .form-control {
    padding-right: 12px;
    padding-left: 34px;
}

.has-feedback-left .form-control.input-sm,
.has-feedback-left.form-group-sm .form-control {
    padding-left: 30px;
}

.has-feedback-left .form-control.input-lg,
.has-feedback-left.form-group-lg .form-control {
    padding-left: 46px;
}

.has-feedback-left .form-control-feedback {
    left: 0;
}

.backgroundImg {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -999999;
}

.form-control-feedback {
    z-index: 1049;
}

#logout {
    color: black;
    font-weight: bold;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    margin-top: 50%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-green {
    color: #fff;
    background-color: #6aa84f;
    color: white;
    border-color: #5f9747;
}

.btn-green:hover {
    background-color: #54863f;
    color: white;
    border-color: #5f9747;
}

.btn-icon{
    font-size: 25px;
}

.btn-icon:hover {
    cursor: pointer;
    opacity:0.5;
}

/*Button back*/ 

.btn-back {
    color: white;
    background-color: #868e96;
    border-color: #868e96;
}

.btn-back:hover {
    color:white;
    background-color: #727b84;
    border-color: #6c757d;
}

.btn-back-form {
    width: 100%;
    margin-top: 10px;
}
