@model EditaisViewModel

@{
    ViewData["Title"] = "Editais";
    Layout = "/Views/Shared/_LayoutWhite.cshtml";
}

<!--Mostrar os editais existentes na bd-->
<div class="listing">
    <table class="table" border="1">
        <tr>
            <th>Edital</th>
            <th>Programa Mobilidade</th>
            <th>Download</th>
        </tr>
        @foreach (var item in Model.Editais)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMobilidade.Descricao)
                </td>
                <td>
                    <!--TODO: Meter a ação de download-->
                    <img src="~/images/application/descarregar.png" />
                </td>
            </tr>
        }
    </table>
    <a asp-controller="Home" asp-action="Index" class="button button-back">Voltar</a>
</div>
