@{
    ViewData["Title"] = "Candidatura";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<div class="candidatura-wrapper">
    <ul>
        <li data-id="geral" class="selected">Geral</li>
        <li data-id="contactos">Contactos</li>
        <li data-id="adicional">Informação Adicional</li>
    </ul>

    <div class="tab-content">
        <div id="geral" role="tab">
            @Html.Partial("GeneralInformation")
        </div>
        <div id="contactos" role="tab">
            @Html.Partial("Contacts")
        </div>
        <div id="documentacao" role="tab">
            @Html.Partial("Documentation")
        </div>
        <div id="destino" role="tab">
            @Html.Partial("Destination")
        </div>
    </div>

    <a href="/" id="btn_back" class="button button-back">Voltar</a>
    <a href="/" id="btn_next" class="button button-next">Seguinte</a>
    <a href="/" id="btn_submit" class="button button-submeter">Submeter</a>
</div>

@section Scripts {
    <script>
        $(".candidatura-wrapper li").on("click", (ev) => {
            var elem = ev.currentTarget;
            $("[role='tab']").hide();
            $("#" + elem.getAttribute("data-id")).show();
            $(".selected").removeClass("selected");
            elem.classList.add("selected");
        });

        $("#btn_next").on("click", (ev) => {
            ev.preventDefault();

            var curr = window.location.hash.split("#/")[1];

            if (curr = "") {
                window.location.hash = "/contactos"
            }
            else if (curr == "contactos") {
                window.location.hash = "/documentacao"
            }
            else if (curr == "documentacao") {
                window.location.hash = "/destino"
            }
            else {
                $(ev.target).hide();
                $("#btn_submit").show();
            }
        });

        $("#btn_back").on("click", (ev) => {
            ev.preventDefault();

            var curr = window.location.hash.split("#/")[1];

            if (curr = "") {
                window.location = "/"
            }
            else if (curr == "contactos") {
                window.location.hash = "/geral"
            }
            else if (curr == "documentacao") {
                window.location.hash = "/contactos"
            }
            else if (curr == "destino") {
                window.location.hash = "/documentacao"
            }
        });

        $(window).on("hashhashchange", (ev) => {
            $(".selected").removeClass("selected");
            $("#" + window.location.hash.split("#/")[1]).addClass("selected");
        });
    </script>
}