@{
    ViewData["Title"] = "Candidatura";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<div class="candidatura-wrapper">
    <ul>
        <li data-id="geral" class="selected">Geral</li>
        <li data-id="contactos">Contactos</li>
        <li data-id="documentacao">Documentação</li>
        <li data-id="destino">Escola Destino</li>
    </ul>

    <div class="tab-content">
        <div id="geral" role="tab">
            @Html.Partial("GeneralInformation")
        </div>
        <div id="contactos" role="tab">
            @Html.Partial("Contacts")
        </div>
        <div id="documentacao" role="tab">
            @Html.Partial("Documentation")
        </div>
        <div id="destino" role="tab">
            @Html.Partial("Destination")
        </div>
    </div>

    <div class="buttons">
        <span id="btn_back" class="button button-back">Voltar</span>
        <span id="btn_next" class="button button-next">Seguinte</span>
        <span id="btn_submit" class="button button-submeter">Submeter</span>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {
            var curr = window.location.hash.split("#/")[1];

            if (curr != undefined || curr != "geral")
                changePage();
        });

        $(".candidatura-wrapper li").on("click", (ev) => {
            window.location.hash = "/" + ev.currentTarget.getAttribute("data-id");
        });

        $("#btn_next").on("click", (ev) => {
            var curr = window.location.hash.split("#/")[1];

            if (curr == "" || curr == undefined || curr == "geral") {
                window.location.hash = "/contactos"
            }
            else if (curr == "contactos") {
                window.location.hash = "/documentacao"
            }
            else if (curr == "documentacao") {
                window.location.hash = "/destino"
                $("#btn_next").hide();
                $("#btn_submit").show();
            }
        });

        $("#btn_back").on("click", (ev) => {
            var id = window.location.hash.split("#/")[1];

            if (id == "geral" || id == undefined || id == "")
                window.location = "/";
            else 
                window.history.back();
        });

        $(window).on("hashchange", (ev) => {
            changePage();
        });

        var changePage = () => {
            $("[role='tab']").hide();
            $(".selected").removeClass("selected");
            var id = window.location.hash.split("#/")[1];

            if (id == undefined || id == "") {
                $("#geral").show();
                $("[data-id='geral']").addClass("selected");
            }
            else {
                $("#" + id).show();
                $("ul [data-id='" + id + "']").addClass("selected");
            }
        };
    </script>
}