
@{
    ViewData["Title"] = "404 Candidatura Not Found";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<header>
    <h2 class="text-danger">Não possui nenhuma candidatura ativa! Clique <a href="/ProgramasMobilidade">aqui</a> para submeter uma nova candidatura</h2>
</header>