@model ApplicationStateViewModel
@{
    ViewData["Title"] = "Estado Candidatura <i class='glyphicon glyphicon-question-sign btn-icon' data-toggle='modal' data-target='#helpModal'></i>";
    ViewData["HelpTitle"] = Model.AjudasDictionary["Pagina"].Titulo;
    ViewData["HelpContent"] = Model.AjudasDictionary["Pagina"].Corpo;
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<link rel="stylesheet" href="~/css/candidatura-state.css" />

<div class="state">
    <div class="timeline clearfix">
        <input asp-for="Estado" class="hidden" />
        <ol>
            @foreach (var item in Model.EstadosList.Select((value, index) => new { index, value }))
            {
                <li id="state-@item.value.EstadoCandidaturaID" class=@(item.index % 2 == 0 ? "top" : "bottom") >
                    <span class="point-arrow" style="background-color: @item.value.Cor;">
                        <i class="fa fa-2x fa-@item.value.Icon"></i>
                        <span class="text">@item.value.Descricao</span>
                    </span>
                    <span class="point"></span>
                </li>
            }
        </ol>
        <img src="~/images/application/finito.png" /> 
    </div>

    <a asp-controller="Manage" asp-action="Profile" class="button button-back">Voltar</a>
</div>

@section Scripts {
    <script>
        $(() => {
            var val = $("#Estado").val();
            for (var i = 1; i <= val; i++) {
                $("#state-" + i).addClass("complete");
            }
        });
    </script>
}

<script src="https://use.fontawesome.com/3f965b3028.js"></script>
