@model MergeViewModel;

<div class="modal fade" tabindex="-1" id="programModal" data-keyboard="false" data-backdrop="static">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h4 id="titulo">Novo curso</h4>
            <div class="modal-content-wrapper">
                <div class="col-md-12">
                    <div class="col-md-3 col-md-offset-1">
                        <label asp-for="CursosViewModel.Nome"></label>
                    </div>
                    <div class="input-group col-md-7">
                        <input asp-for="CursosViewModel.Nome" class="form-control" placeholder="Nome" />
                        <i class="glyphicon glyphicon-home form-control-feedback"></i>
                        <div class="input-group-btn">
                            <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.CursosViewModel.AjudasDictionary["NomeCurso"].Titulo" data-content="@Model.CursosViewModel.AjudasDictionary["NomeCurso"].Corpo">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="CursosViewModel.Nome" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <div class="col-md-3 col-md-offset-1">
                        <label asp-for="CursosViewModel.Vagas"></label>
                    </div>
                    <div class="input-group col-md-7">
                        <input asp-for="CursosViewModel.Vagas" class="form-control" placeholder="Vagas" />
                        <i class="glyphicon glyphicon-home form-control-feedback"></i>
                        <div class="input-group-btn">
                            <button class="btn btn-info bottom-right pop" type="button" data-title="@Model.CursosViewModel.AjudasDictionary["Vagas"].Titulo" data-content="@Model.CursosViewModel.AjudasDictionary["Vagas"].Corpo">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="CursosViewModel.Vagas" class="text-danger"></span>
                </div>

                <div class="modal-button-group">
                    <button type="button" id="btn_cancel">
                        <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
                        Cancelar
                    </button>
                    <button type="submit" id="btn_submit_curso">
                        <i class="glyphicon glyphicon glyphicon-ok-circle"></i>
                        Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>