@{
    ViewData["Title"] = "Escolas Parceiras <i class='glyphicon glyphicon-question-sign btn-icon' data-toggle='modal' data-target='#helpModal'></i>";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewData["HelpTitle"] = Model.AjudasDictionary["Pagina"].Titulo;
    ViewData["HelpContent"] = Model.AjudasDictionary["Pagina"].Corpo;
}

<link href="~/css/escolas-parceiras.css" rel="stylesheet" />

<div class="escola-wrapper">
    <ul>
        <li data-id="geral" class="active">Escola</li>
        <li data-id="mobilidade">Programa de Mobilidade</li>
    </ul>

    <div class="tab-content">
        <form id="escola-form" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div id="geral" role="tab">
                @Html.Partial("Geral")
            </div>
            <div id="mobilidade" role="tab">
                @Html.Partial("ProgramaMobilidade")
            </div>
        </form>
    </div>

    <div class="buttons">
        <span id="btn_back" class="button button-back">Voltar</span>
        <span id="btn_next" class="button button-next">Seguinte</span>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {
            var curr = window.location.hash.split("#/")[1];

            if (curr != undefined || curr != "geral") {
                changePage();
            }

            if (window.location.href.indexOf("Edit") !== -1) {
                $(".mobilidade").find("#radio-" + $("#Mobilidade").val()).prop("checked", true);

                var elem = $("#EstadoCkb");

                elem.prop("disabled", false);

                if ($("#Estado").val() == 0)
                    elem.prop("checked", false);

                $("#escola-form").attr("action", "/Escolas/" + window.location.href.match(/Escolas\/(.*)\/Edit/)[1] + "/Edit")
            }
            else {
                $("#Estado").val(1);
                $("#EstadoCkb").prop("checked", true);
            }

            bindEvents();
        });

        var bindEvents = () => {
            $(window).on("hashchange", (ev) => {
                changePage();
            });

            $(".escola-wrapper li").on("click", (ev) => {
                window.location.hash = "/" + ev.currentTarget.getAttribute("data-id");
            });

            $("#btn_next").on("click", (ev) => {
                window.location.hash = "/mobilidade"
            });

            $("#btn_back").on("click", (ev) => {
                var id = window.location.hash.split("#/")[1];

                if (id == "geral" || id == undefined || id == "")
                    window.location = "/Escolas";
                else if (id == "mobilidade") {
                    window.location.hash = "/geral"
                }
            });

            $("#btn_submit").on("click", (ev) => {
                $("#escola-form").submit();
            });

            $("#btn_add_curso").on("click", () => {
                $("#Vagas").val("");
                $("#NomeCurso").val("");
                $("#modal").modal("show");
            });

            $("#btn_cancel").on("click", () => {
                $("#modal").modal("hide");
            });

            $(".mobilidade .table td:not(:first-child)").on("click", (ev) => {
                var elem = $(ev.currentTarget).parent().find("input[type='radio']");

                elem.prop("checked", !elem.prop("checked"));
                elem.trigger("change");
            });

            $(".mobilidade .table input[type='radio']").on("change", function (ev) {
                $(".selected").removeClass("selected");
                $(this.parentElement.parentElement).toggleClass("selected");

                $("#Mobilidade").val($(this).val());
            });

            $("#btn_submit_curso").on("click", () => {
                var vagas = $("#Vagas").val();
                var nome = $("#NomeCurso").val();
                
                if (vagas == 0 || vagas == "" || nome == "") {
                    if (nome == "")
                        $("#nome-err-validation").removeClass("hidden");
                    else
                        $("#vagas-err-validation").removeClass("hidden");

                    return;
                }

                $("#modal").modal("hide");

                alerta("Curso criado com sucesso!", "success");

                $("#geral").append($('<input type="hidden" name="CursosNovos" value=' + JSON.stringify({ Nome: nome, Vagas: vagas }) + ' />'));

                $("#geral .table").append(
                    $("<tr> " +
                        "<td>" + nome + "</td>" +
                        "<td>" + vagas + "</td>" +
                    "</tr>")
                );
            });

            $("#EstadoCkb").on("change", function () {
                $("#Estado").val(((this.checked == true) ? 1 : 0));
            })
        }
        
        var alerta = (mensagem, type) => {
            var wrapper = $("#alert-wrapper");
            var tmp = $("#alert");

            wrapper.removeClass("fade-out");
            tmp.addClass("alert-" + type);
            tmp.html(mensagem);

            setTimeout(() => {
                wrapper.addClass("fade-out");
                setTimeout(() => {
                    tmp.removeClass("alert-" + type);
                }, 2100)
            }, 5000);
        }

        var changePage = () => {
            $("[role='tab']").hide();
            $(".active").removeClass("active");

            var id = window.location.hash.split("#/")[1];

            if (id == "mobilidade") {
                $("#btn_submit").show();
                $("#btn_next").hide();
            }
            else {
                $("#btn_submit").hide();
                $("#btn_next").show();
            }

            if (id == undefined || id == "") {
                $("#geral").show();
                $("[data-id='geral']").addClass("active");
            }
            else {
                $("#" + id).show();
                $("ul [data-id='" + id + "']").addClass("active");
            }
        };
    </script>
}
